* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu__btn {
  margin: 50px;
  cursor: pointer;
}

.line {
  width: 50px;
  height: 5px;
  background-color: black;
  display: block;
  margin-bottom: 8px;
}

.active .line:nth-child(2) {
  opacity: 0;
}

.active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
